<div style="margin-top: 20px;line-height: 1.5;">
    <div id="dateField" class="dateField">
        <div style="font-size:2.0em;margin:-8px 0 0 30px;">{article.date.dd}</div>
        <div style="margin:-8px 0 0 11px;">{article.date.yyyy} / {article.date.mm}</div>
    </div>
    
    <div class="css_article_title">
        {article.title}
    </div>

    <div class="css_article_summary">{article.summary}</div>

    <div class="css_article_footer">
        <span style="margin-right: 5px;">{article.view}</span>
        <span style="margin-right: 5px;">{article.reply}</span>
        <span style="margin-right: 5px;">{article.edit}</span>
        <span style="margin-right: 5px;">{article.delete}</span>
        <span style="margin-right: 5px;">[Tags:{article.tags}]</span>
    </div>
</div>
